@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Sevillana";
  src: url("./fonts/Sevillana-Regular.ttf");
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf");
}
